@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: rgb(38, 3, 83);
    
  }


  #image-wrapper{
    background-image: url(assets/dark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:max-content;
    min-height: 100vh;
  }


  