@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background: antiquewhite;
  }

  #image-wrapper{
    background-image: url(assets/library.jpeg);
  }
  
  header{
    background-color: white;
  }

  button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background: antiquewhite;
  }
  
  button:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }


  .container{
    width: 1280px;
    margin: auto;
  }
  
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 20px;
    background: white;
  }
  
  .nav button{
    font-family: inherit;
    border: 1px solid black;
  }
  
  .create-card{
    display: none;
    width: 370px;
    margin:auto;
    padding: 20px;
    margin-top: 10px;
    background: beige;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
    color:black;
  }
  
  .create-card textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
  }
  
  .create-card button{
    width: fit-content;
  }
